*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.boxing{
    width: 1000px;
    height: 800px;
    border: 5px solid green;
    margin: 100px auto;


    position: relative;
}


.box{
    width: 200px;
    height: 200px;
}



.one{
    background-color: yellow;
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    border: 3px solid black;
  
}

.one::after{
    width: 100px;
    height: 100px;
   content: '';
   display: block;
   background-color: white;
}


.one::before{
    width: 100px;
    height: 100px;
    content: '';
    display: block;
    background-color: black;
 }
 


.two {
    background: red;
    position: absolute;

    right: 0;
    top: 0;

    width: 220px;
    height: 150px;
    border-radius: 30px;
}

.triangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 0 40px 80px;
    border-color: transparent transparent transparent #fff;

    position: absolute;
    top: 24%;
    left: 36%;
}


.three{
    background-color: black;
    height: 370px;
    width: 370px;
    position: absolute;

    left: 50%;
    top: 46%;
    transform: translate(-50%, -50%);
}



.tiktok1{
    position: relative;
    width: 37px;
    height: 218px;
    margin: 100px auto;
    z-index: 1;
    background: #fff;
    filter: drop-shadow(-10px -10px 0 #24f6f0) brightness(110%);
    box-shadow: 11.6px 10px 0 0 #fe2d52;
    top: -60px;
}

.tiktok1::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    border: 37px solid #fff;
    border-top: 37px solid transparent;
    border-radius: 50%;
    top: 123px;
    left: -137px;
    transform: rotate(45deg);
    filter: drop-shadow(16px 0px 0 #fe2d52)
}

.tiktok1::after{
    content: '';
    position: absolute;
    width: 140px;
    height: 140px;
    border: 30px solid #fff;
    border-right: 30px solid transparent;
    border-top: 30px solid transparent;
    border-left: 30px solid transparent;
    top: -100px;
    right: -172px;
    border-radius: 100%;
    transform: rotate(45deg);
    z-index: -10;
    filter: drop-shadow(14px 0 0 #fe2d52);
}


.four{
    background: #085eff;
    border-radius: 100px;
    position: absolute;

    bottom: 0;
    left: 0;
}

.shazam{
    position: relative;
    width: 20px;
    height: 60px;
    background: #fff;
    top: 25px;
    left: 60px;
    transform: rotate(45deg);
    border-radius: 30px;
}

.shazam::before{
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border: 20px solid #fff;
    border-top: 19px solid transparent;
    border-left: 19px solid transparent;
    border-radius: 50%;
    top: 8px;
    left: 0px;
    transform: rotate(45deg);
}

.shazam::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 50px;
    background: #fff;
    top: 20%;
    left: 69px;
    transform: rotate(0deg);
    border-radius: 30px;
}

.shazam2{
    position: relative;
    width: 20px;
    height: 70px;
    background: #fff;
    top: 44px;
    left: 122px;
    transform: rotate(45deg);
    border-radius: 30px;
}

.shazam2::before{
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border: 20px solid #fff;
    border-bottom: 19px solid transparent;
    border-right: 19px solid transparent;
    border-radius: 50%;
    top: -34px;
    left: -69px;
    transform: rotate(45deg);
}

.shazam2::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 50px;
    background: #fff;
    top: 4%;
    left: -69px;
    transform: rotate(0deg);
    border-radius: 30px;
}

.five {
    background: #08d1ff;
    background: -webkit-linear-gradient(182deg, #08d1ff 0%, #0076ff 100%);
    background: linear-gradient(182deg, #08d1ff 0%, #0076ff 100%);
    border-radius: 100px;
    position: absolute;

    right: 0;
    bottom: 0;
}

.tg{
    background-color: #fff;
    clip-path: polygon(75% 0%, 75% 0%, 70.7% 68.5%, 42.9% 50%, 56.3% 24.3%, 35.4% 47.3%, 10.2% 40.3%, 75.1% 0%);
    width: 90%;
    height: 90%;

    position: absolute;
    
    top: 40px;
    left: 8px;
}

